<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!--a diferencia de las template driven no tenemos que pasar
  ningun dato al submit porque ya tenemos acceso al form en el archivo ts y por tanto acceso a los valores
  de los controladores-->
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" [formControl]="form.controls.email" />
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
    </div>

    <button class="button">Login</button>
  </div>

  @if (emailIsInvalid) {
  <!--en vez de poner todo el tocho de codigo ponemos un getter que contenga ese codigo para que no quede apelotonado-->
  <p class="control-error">Please entred a valid email address.</p>
  } @if (passwordIsValid) {
  <p class="control-error">
    Please entred a valid password - must be at least 6 characters long and contain a question mark.
  </p>
  }
</form>
